* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.fire-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
}
    
table.fire-data {
    width: 20rem;
    height: 20rem;
    border-spacing: 0;
    border: 0.1rem solid #000;
}

table.fire-data td {
    text-align: center;
    font-size: 10px;
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
}

table.fire-data td.pixel {
    width: 0.1rem;
    height: 0.1rem;
    border: none;
}

table.fire-data td span {
    font-size: 10px;
    border: 0.1rem solid rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    font-weight: bolder;
}